@tailwind base;
@tailwind components;
@tailwind utilities;

.cool-underline{
    position: relative;
}
.cool-underline::after{
    content:'';
    height: 10px;
    background-color: #DC008366;
    display: block ;
    position: absolute;
    left:-8px;
    width: 0;
    bottom: 10px;
    z-index: -1;
    transform: skew(-21deg);
    transition: all 0.5s ease-in-out; 
}
.cool-underline.show-underline::after{
    width: calc(100% +  16px);
}

form input, form select ,form textarea{
    @apply border rounded-md;
}

form input,form textarea{
    @apply block w-full p-2;
}
form label{
    @apply mb-2 block p-1; 
}
form label span,sapn.label{
    @apply  text-gray-600 text-xs font-bold uppercase;
}
